* {
    box-sizing: border-box; 
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
    margin:0px;
    padding:0px;
}
/*BETŰKÉSZLETEK*/
@font-face {
    font-family: linkek;
    src: url("fontok/ImpactLabel.ttf");
}
@font-face {
    font-family: alap;
    src: url("fontok/Urania.ttf");
}
@font-face {
    font-family: cím;
    src: url("fontok/District.ttf");
}
/*ALAP*/
html{
    margin:0px;
    padding:0px;
}
body{
    margin:0px;
    padding:0px;
}

header .header-tartalom{
    background-image:url("képek/header.png");
    background-size: auto;
    height:200px;
    display: flex;
    justify-content: center; 
    align-items: center;
    
}
/*SZÖVEGFORMÁZÁS*/

h1.Oldalcím{
    font-family:cím;
    color:#000000;
    transform: rotate(-2deg);
    font-size:6vw;
}
h1.Cikkcím{
    font-family:alap;
    font-size:22px;
}
p.Cikktartalom{
    font-family:alap;
    font-size:18px;
}
p.Magamróltartalom{
    font-family:alap;
    font-size:16px;
}
q{
    font-family:alap;
    font-size:16px;
    font-style:italic;
}
p.idézetes{
    font-family:alap;
    font-size:16px;
    text-align:center;
}
a.főlink{
    text-decoration:none;
    font-family:linkek;
    font-size:20px;
    color:#000000;
}
a.oldalcím:link{
text-decoration:none;
}
a{
    font-style:alap;
    font-size:14px;
}
a:visited{
    color:#000000
}
h4{
    font-family:alap;
    text-align:center;
}



/*NAVIGÁCIÓ*/
nav{
  float:left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
li {
    text-align:center;
    margin: 0 auto;
    padding: 1em 1.5em;
    text-align:center;
}

li a {
    display: block;
    padding: 3px;
    text-decoration:none;
    padding:15px;
  
}
a.active{

    border: 1px dashed #000000; 
    border-radius: 10px;
    padding:8px;
    padding:15px;
}
a:hover{
    background-color:rgb(206, 201, 196, 0.5);
    border: 1px solid transparent; 
    border-radius: 10px;
    padding:8px;
    padding:15px;
}
a.active:hover{ 
    background-color:rgb(206, 201, 196, 0.5);
    border: 1px dashed #000000; 
    border-radius: 10px;
    padding:15px;
}
a.oldalcím:hover{
    border: 1px solid transparent; 
    background-color:transparent;
}




/*TARTALOM*/
body{
    background-image: url("képek/háttér.jpg");
    background-position: center center;
    background-repeat:no-repeat; 
    background-attachment: fixed; 
    background-size:cover; 
}

aside{
    margin:10px;
    text-align:right;
    font-family:alap;
    font-size:14px;
}
footer{
    background-color:rgb(206, 201, 196, 0.5);
    text-align:center;
    margin-bottom: 0px;
    font-family:alap;
    font-size:12px;

}
section.alsólinkek{
    text-align:center;
}

section.Cikk{
    
    background-color:rgb(206, 201, 196, 0.5);
    border: 1px dashed #000000; 
    border-radius: 10px;
    margin-bottom:10px;
    padding: 17px;
}

article.magamról{
float:left;
    padding:10px;
    Margin-left:20px;
    Margin-right:20px;
    background-color:#CEDBCE;
    font-family:alap;
}
img.magamról{
    width:100%;
    height:100%;
}
div.magamról{
    padding:0px;
}
p.közép{
    text-align:center;
}
img.jobbra{
    float:right;
    display: inline-block;
    height:100%;
    width:auto;
    margin-left:10px;
}
img.balra{
    float:left;
    display: inline-block;
    height:100%;
    width:auto;
    margin-right:10px;
}



/*GALÉRIA*/
a.kep:hover {
    background-color:none;
    border:none;
    padding:0px;
    }

.clear {
clear: both;
float: none;
width: 100%;
}


.container {
max-width: 1170px;
width: 90%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
justify-content:center;
}

.container .gallery a img {
float: left;
width: 25%;
height: auto;
border: 2px solid transparent;
-webkit-transition: -webkit-transform .15s ease;
-moz-transition: -moz-transform .15s ease;
-o-transition: -o-transform .15s ease;
-ms-transition: -ms-transform .15s ease;
transition: transform .15s ease;
position: relative;
}

.container .gallery a:hover img {
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
-o-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
z-index: 5;
}

.container .gallery a.big img {
width:50%;
}

.align-center {
text-align: center;
font-family:cím;
font-size:24px;
}
div.galéria{
border: 1px solid transparent; 
border-radius: 10px;
background-color:rgb(206, 201, 196, 0.5);
margin:20px;
}



/*TESZT*/
a.anch {
	text-decoration:none;	
    background-color:rgb(206, 201, 196, 0.5);
    border: 1px solid transparent; 
    border-radius: 10px;
    padding:10px;
    color:black;
    font-size:15px;
    margin:5px;
}

a.anch:hover{
    text-decoration:none;	
    background-color:rgb(206, 201, 196, 0.5);
    border: 1px solid transparent; 
    border-radius: 10px;
    padding:10px;
    color:black;
    font-size:15px;
    margin:5px;
}
p.anch{
    justify-content:center;
    float:left;
}
img.banner{
    width:100%;
    height:100%;
}
h1.Cikkcím{
    margin:5px;
}
a#elso, a#masodik, a#harmadik, a#negyedik, a#video, a#teszt{
    font-size:18px;

}
article.teszt{
    text-align:center;
    padding:10px;
    Margin-left:20px;
    Margin-right:20px;
    background-color:#DBD4CE;
    font-family:alap;
    border: 1px solid;

}
table.teszt{
    text-align:left;
    font-size:17px;
    border-collapse: collapse;
	margin: 1% auto;
    width: 100%;
    table-layout: fixed;
}
table.teszt td{
    border:1px dashed #c6bfb8;
    padding: 2%;
	
}
a#teszt{
    font-size:22px;
}

table.teszt td.ellen{
    border:none;
    text-align:center;
}

select{
    font-family:alap;
}
article.Történet{
    margin:10px;
}



/*REGISZTRÁCIÓ*/
article.Regisztráció{
    background-color:rgb(206, 201, 196, 0.5);
    border: 1px dashed #000000; 
    border-radius: 10px;
    margin-bottom:10px;
    padding: 17px;
    background-image: url("képek/reg.png");

}
table.regisztralj{
    margin: 0 auto;
    font-family:alap;
    font-size:18px;

}
h1.regisztralj{
    text-align:center;
    font-family:cím;
    font-size:28px;
}
label.error {
    color: #00a377; 
    }
    


/*WEBSHOP*/
article.shop{
    background-color:rgba(216, 243, 193, 0.247);
    border: 1px dashed #000000; 
    border-radius: 10px;
    margin-bottom:10px;
    padding: 17px;
    background-image: url("képek/tábla.png");
    background-position: center center;
    background-repeat:no-repeat; 
    background-size:cover; 
}
article.szabaly{
    text-align:center;
    padding:10px;
    Margin-left:20px;
    Margin-right:20px;
    background-color:#DBD4CE;
    font-family:alap;
}
table.shop{
    margin: 0 auto;
    font-family:alap;
    font-size:18px;
}
table.shop td{
    padding:10px;
}
h2.shopcím{
    text-align:center;
    font-family:alap;
    font-size:35px;
    margin:0px;
}
table.shop img{
    height:auto;
    width:100%;
}
textarea {
    font-family: alap;
    font-size:16px;
}


/*RESZPONZÍV*/
[class*="col-"] 
{
    float: left;
    padding: 5px;
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (min-width:650px) /*tablet*/{ 
.col-t-1 {width:6.66%;}
.col-t-2 {width:13.33%;}
.col-t-3 {width:20%;}
.col-t-4 {width:26.66%;}
.col-t-5 {width:33.33%;}
.col-t-6 {width:40%;}
.col-t-7 {width:46.66%;}
.col-t-8 {width:53.33%;}
.col-t-9 {width:60%;}
.col-t-10 {width:66.66%;}
.col-t-11 {width:73.33%;}
.col-t-12 {width:80%;}
.col-t-13 {width:86.66%;}
.col-t-14 {width:93.33%;}
.col-t-15 {width:100%;}

}
@media screen and (min-width:800px) /*számítógép*/{ 
    .col-1 {width:6.66%;}
    .col-2 {width:13.33%;}
    .col-3 {width:20%;}
    .col-4 {width:26.66%;}
    .col-5 {width:33.33%;}
    .col-6 {width:40%;}
    .col-7 {width:46.66%;}
    .col-8 {width:53.33%;}
    .col-9 {width:60%;}
    .col-10 {width:66.66%;}
    .col-11 {width:73.33%;}
    .col-12 {width:80%;}
    .col-13 {width:86.66%;}
    .col-14 {width:93.33%;}
    .col-15 {width:100%;}
}
